
<html>
	<title>Chicago Bus Visualization</title>
	<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
		</script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZp9sTR_-Qv0g5ctQ758raHKdhLRL_FJM&sensor=false&libraries=visualization">
    </script>
    <script>


    </script>
  	</head>
  <body>
    <div id="map-canvas"/> 
	</div>

	<button onclick="loadScript()">map</button>

 	<%= content_tag :div, class: "bus_data", data: {buses: @buses} do %>
	<% end %>



  </body>
</html>
