
<html>
	<title>Chicago Bus Visualization</title>
	<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  	</head>
  <body>
  	<div class="panel">
  	<h1>CTA - Ridership <br> Data Visualization</h1>
		Boardings <input type="checkbox" id="boardings" value="boardings">
		Alightings <input type="checkbox" id="alightings" value="alightings">
		<button onclick="loadScript('boardings')">Create Map</button>
	</div>
    <div id="map-canvas"/> 
	</div>


 	<%= content_tag :div, class: "bus_data", data: {buses: @buses} do %>
	<% end %>



  </body>
</html>
