// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { 
height: 100%;
} 

body { height: 100%; 
	width:100%;
	margin: 0; 
	padding: 0;
}

#map-canvas { 
	float:right;
	height: 100%; 
	width:80%;
}


.panel{
	position:relative;
	float:left;
	width:20%;
}